Flask==2.2.2
Flask-Cors==3.0.10
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
psycopg2-binary==2.9.9
email-validator==1.1.3
Werkzeug==2.2.2
SQLAlchemy==1.4.41
flask_login==0.6.3
Flask-Migrate==4.0.7